@import '../../assets/styles/vars';

.field {
  display: grid;
  grid-template-columns: repeat(16, 1.5rem);
  grid-template-rows: repeat(16, 1.5rem);
  justify-content: flex-start;
  border: $border-size inset;
}
